bin/
obj/
**/bin/
**/obj/

packages/
*.nupkg

.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
riderModule.iml
_ReSharper.Caches/

TestResults/
coverage/
*.coverage
*.coveragexml

*.log
